
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --font-family: "Causten", sans-serif;
  --second-family: "Core Sans C", sans-serif;
  --third-family: "Mintaka", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Poppins", sans-serif;
  --font5: "Manrope", sans-serif;
  --font6: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input {
  all: unset;
}

select {
  outline: none;
}